html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, input,fieldset, legend, img, div, section, figure,header,nav,main,footer { 
    margin:0; 
    padding:0; 
    box-sizing: border-box;
}
body{font-size:12px;}

fieldset, img { border:none; }

em, i, b, strong,h1, h2, h3, h4, h5, h6{ 
    font-style:normal; 
    font-weight:normal; 
}

ul, dl { list-style:none; } 

a {text-decoration:none; }

.fl{float:left;}

.fr{float:right;}
